<h1>New Event</h1>
<hr>
<div class="col-md-6">
  <form #newEventForm="ngForm" (ngSubmit)="saveEvent(newEventForm.value)" autocomplete="off" novalidate>

    <div class="form-group" [ngClass]="{'error': newEventForm.controls.initialFeeAmount?.invalid && newEventForm.controls.initialFeeAmount?.touched}">
      <label for="eventName">Initial Fee Amount:</label>
      <em *ngIf="newEventForm.controls.initialFeeAmount?.invalid && (newEventForm.controls.initialFeeAmount?.touched)">Required</em>
      <!-- <input
        (ngModel)="newEvent.initialFeeAmount"
        name="initialFeeAmount"
        required id="initialFeeAmount"
        type="text"
        class="form-control"
        placeholder="Enter the initial fee amount..." /> -->
      <input
        (ngModel)="newEvent.initialFeeAmount"
        name="initialFeeAmount"
        required id="initialFeeAmount"
        type="text"
        class="form-control"
        placeholder="Enter the initial fee amount..." />
    </div>

    <div class="form-group">
      <label for="name">Mobile Number</label>
      <input type="text" class="form-control" id="mobilenumber"
      required
      [(ngModel)]="model.mobile" name="mobilenumber"
      pattern="[0-9]*"
      minlength="10"
      maxlength="10"
      #mobile="ngModel">
      <div [hidden]="mobile.valid || mobile.pristine"
          class="alert alert-danger">
          <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
          <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
          <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" [disabled]="newEventForm.invalid" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div>
